In [35]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Generate Data from A Study of Sea kayak incidents in Ireland

### Field experience

For field experienced 0 means less than 5 years, 1 means more than 5 years 2 means 10 or more years .From [1] 70% of those in the survey had been paddling  5 or more years , with nearly half of them having 10 or more experience .  Therefore I generated a data set as below.
35% - five or more experience
35% - ten or more experince 
30% less than five years experience

In [36]:

yearsOfExperiecne = []
for i in range(35):
    yearsOfExperiecne.append(1)
for i in range(35):
    yearsOfExperiecne.append(2)
for i in range(30):
    yearsOfExperiecne.append(0)
    
np.random.shuffle(yearsOfExperiecne)

for i in range(len(yearsOfExperiecne)):
    if yearsOfExperiecne[i] == 0:
        yearsOfExperiecne[i] = "Less than five years experience"
    elif yearsOfExperiecne  == 1:
        yearsOfExperiecne[i] = "Five or more years of experience"
    else:
        yearsOfExperiecne[i] = "More than 10 years of experience"
years_of_experience = pd.Series(yearsOfExperiecne)
years_of_experience

0     More than 10 years of experience
1     More than 10 years of experience
2     More than 10 years of experience
3     More than 10 years of experience
4     More than 10 years of experience
                    ...
95    More than 10 years of experience
96     Less than five years experience
97     Less than five years experience
98     Less than five years experience
99     Less than five years experience
Length: 100, dtype: object

### Field Location

For field Location 
0 means west coast
1 means east coast
2 means north coast
3 means south Coast

There was no information on location other than most incdients happened on the west coast. Thus therefore I split the 4 regions equally. 
%25 - west coast 
%25 east Coast
%25 South Coast
%25 North Coast

In [41]:

location = []
for i in range(25):
    location.append(0)
for i in range(25):
    location.append(1)
for i in range(25):
    location.append(2)
for i in range(25):
    location.append(3)    
np.random.shuffle(location)

for i in range(len(location)):
    if location[i] == 0:
        location[i] = "West Coast"
    elif location  == 1:
        location[i] = "East Coast"
    elif location  == 2:
        location[i] = "North Coast"
    else:
        location[i] = "South Coast"
location_of_incident = pd.Series(location)
location_of_incident

0     South Coast
1     South Coast
2     South Coast
3      West Coast
4      West Coast
         ...
95    South Coast
96    South Coast
97    South Coast
98    South Coast
99    South Coast
Length: 100, dtype: object

### References 

1. Ray McCullagh and Keven 0'Callaghan,A Study of sea kayak incidents in Ireland https://issuu.com/lastudio/docs/14752_tnadt_63_issuu